#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 170px;

}

.rounded-imge {
  border-radius: 50%;
}

#carouselExampleIndicators {
  float: left;
  margin-left: 13px;
}
.profile {
  width: 435px;
  height: 250px;
  background: url(assets/profile.jpg) top center no-repeat #fff;
}
.list-group-item-action {
  width: 150% !important;
}
.header {
  margin-bottom: 10px;
  margin-top: 10px;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.page-footer{
  /* position: fixed;
   left: 0;
   bottom: 0;
   width: 100%; */
  margin-top:10px;
  background-color: #454545;
}
.page-footer a{
  color:white
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border:1 solid;
  border-radius: 0.5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
